
#one {
    list-style: "Birth and Early Talent (1756)";
    margin-left: 150px;
}

#two {
    list-style: "Birth and Early Talent (1756)";
    margin-left: 150px;
}
#three {
    list-style: "Birth and Early Talent (1756)";
    margin-left: 150px;
}
#four {
    list-style: "Birth and Early Talent (1756)";
    margin-left: 150px;
}
#five {
    list-style: "Birth and Early Talent (1756)";
    margin-left: 150px;
}
#six {
    list-style: "Birth and Early Talent (1756)";
    margin-left: 150px;
}
#seven {
    list-style: "Birth and Early Talent (1756)";
    margin-left: 150px;
}
#eight {
    list-style: "Birth and Early Talent (1756)";
    margin-left: 150px;
}
#nine {
    list-style: "Birth and Early Talent (1756)";
    margin-left: 150px;
}
#ten {
    list-style: "Birth and Early Talent (1756)";
    margin-left: 150px;
}