* {
    text-align: center;
}

html {
    background-image: url(sand-paper.jpg);
}

h1 {
    font-size: 3em;
    margin-bottom: 0;
}

.hero p {
    margin-top: 0;
    font-size: 2.5rem;
}

h2 {
    font-size: 2.5rem;
}

img {
    width: 100vw;
    width: 70vw;
    border-radius: 25px;
}

.tribute-main {
    max-width: 600px;
    margin: auto;
}

.li-text {
    font-weight: 100; 
    text-align: center;
}

/* prefix to change the bullet of list items to needed years */

.one {
    list-style: "(yr. 1756)";
}

.two {
    list-style: "(yr. 1762)";
}
.three {
    list-style: "(yr. 1764)";
}
.four {
    list-style: "(yr. 1773)";
}
.five {
    list-style: "(yr. 1775)";
}
.six {
    list-style: "(yr. 1781)";
}
.seven {
    list-style: "(yr. 1782)";
}
.eight {
    list-style: "(yr. 1786)";
}
.nine {
    list-style: "(yr. 1791)";
}
.ten {
    list-style: "(yr. 1791)";
}

.list {
    font-weight: bold;
}